.main-hr {
    width: 1125px;
    margin-right: 20px;
}

.login {
    width: 300px;
    padding: 20px;
    border: 1px solid grey;
}

.userprofile-input-field {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-form-input {
    width: 258px;
}

.update-form-input {
    width: 258px;
    margin-top: 5px;
}

.library-update-form-input {
    width: 258px;
    margin-bottom: 18px;
}

.lib-submit-delete {
    margin-top: 100px;
}

.search-input {
    width: 241px;
}

.modal-content {
    margin-top: 150px;
}