<!-- Modal -->
<div class="modal fade" id="userprofileModal" tabindex="-1" aria-labelledby="userprofileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Userprofile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Username: <b>{{ request.user.username }}</b></p>
                <p>Account created: <b>{{ request.user.date_joined }}</b></p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'edit_profile' %}" class="btn btn-info">Edit Profile</a>
                <a href="{% url 'change_password' %}" class="btn btn-info">Change Password</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>