{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="w-100 row justify-content-md-center text-center">
    <div class="col col-lg-3 border-end">
        <p class="h2 text-decoration-none">Libraries</p>
        <hr>
        <div>
            <a href="{% url 'library_create' %}" class="btn btn-primary btn-sm mb-2" role="button">Add New</a>
            <a href="{% url 'lib_search' %}" class="btn btn-primary btn-sm mb-2" role="button">Search</a>

            {% for library in libraries %}
                {% if lib_update != library.id %}
                    <p class="pb-2">
                        <a href="{% url 'library_open' library.name %}" class="h4 text-decoration-none float-start">{{ library.name }}</a>
                        <a href="{% url 'library_delete' library.id %}" class="btn btn-danger btn-sm float-end">X</a>
                        <a href="{% url 'library_update' library.id %}" class="btn btn-warning btn-sm float-end">Edit</a>
                        <br>
                    </p>
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary btn-sm mb-1" value="Upd"/>
                        <a href="{% url 'libraries' %}" role="button"class="btn btn-success btn-sm mb-1">Back</a>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col col-lg-3">

    </div>

    <div class="col col-lg-3">

    </div>
</div>

{% endblock %}



